.menu-text{
    font-family: 'Roboto', sans-serif;
}
.card-title-first-part{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 70px;
}
.card-title-second-part{
    color: #fabe4c;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 70px;
}
.banner-text{
    padding-top: 70px;
}
.order-button{
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(150 176 49);
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
}
.fas {
    padding-right: 10px;
}
.first-card{
    border: 0;
    background-color: transparent;
}
.header-section{
    background-color: rgb(255 251 240);
}

.card-image img{
    border-radius: 30px;
}
.card-bottom{
    background-color: white;
    border: 0;
}
.card-column{
    border: 0px;
    border-radius: 30px;
}
.services{
    margin-top: 50px;
    margin-bottom: 80px;
}
.service-card{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
.card-column h2{
    font-weight: 700;
    font-size: 50px;
    color: #fabe4c;
}
.service-title h1{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 60px 0px 50px 0px;
}
.featur-icon{
    width: 100px;
}
@media (max-width:767px){
    .featur{
        text-align: center;
    }
    .service-title h1{
        text-align: center;
    }
}
.featur{
    border-radius: 20px;
}
.featur-image img{
    align-items: baseline;
}
.footer{
    background-color: transparent;
    border: 0;
}
.footer-section{
    background-color: rgb(150 176 49);
    text-align: center;
    margin: 50px auto;
    border-radius: 15px;
    padding: 20px;
    color: white;
}
.footer-button{
    color: white;
    font-weight: 700;
    padding: 10px;
}